body, html {
    /* height:10%; */
    margin: 0;
    padding-left: 10px;
    font-family: "Lato", sans-serif;}
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 0px;
    font-size: 17px;

    width: 25%;
}
.bg{
    background-image: url("kutta2.jpg");
    width:100%;
    object-position: left;
    background-size: cover;
}
.bg2{
    background-image: url("cats.jpg");
    width:100%;
    object-position: left;
    color:white;
    background-size: cover;
}
.bg3{
    background-image: url("rabbit.jpg");
    width:100% !important;
    object-position: left;
    color: white;
    background-size: cover;
}
.bg4{
    background-image: url("pets.jpg");
    width:100%;
    object-position: left;
    color:white;
    background-size: cover;
}

.tablink:hover {
    background-color: #777;
}

.tabcontent {
    color: black;
    display: none;
    padding: 50px 0px;
    text-align: center;
    height: 100% !important;
}

#Dog {background-color:none;}
#Cat {background-color:none;}
#Others {background-color:none;}
#Shelter {background-color:none;}
.selectbox{
    border: none;
    width: 100% !important;
    height: 40px;
}
.navbar{
    width: 100% !important;
    height: 37px;
    font-size-adjust: 12px;
    max-zoom: 150%;
    min-width: 1%;
    min-inline-size: 200px;
}
.do{
    padding: 12px;
    /* display: none; */
}
/* .Cat{ */
    /* padding: 12px; */
    /* display: none; */
/* } */