body{
    background-size: cover;
    color:white;
}
ul{
    margin:0px;
    padding:0px;
    list-style-type: none;
    max-width: 100%;
    /* height:90px; */
}
nav{
     z-index: 999 !important;
     width: 100% !important;
	/* height:4px; */
}
ul.g li{
    padding:0px;
    opacity: 1;
    float:left;
    width:130px;
    height:35px;
    background-color:rgb(48, 48, 163);
    line-height:37px;
    text-align:center;
    font-size:14px;
}
ul li a{
    text-decoration: none;
    color:white;
    display:block;
}
ul.g li:hover{
    background-color:rgb(8, 8, 77);
}
ul.g li ul li{
    display: none;
    width:190px;
}
ul.g li:hover ul li{
    display:inline-block;
}
